*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    background: url('../images/project-3.jpg') no-repeat center center/ cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.accordion{
    background-color: aliceblue;
    width: 65%;
    border-radius: 30px;
    padding: 30px;
    
}
.accordion-title{
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}
#question{
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    padding: 18px 0px;
}
#answer{
    width: 100%;
    font-size: 18px;
    line-height: 1;
    transition: .5s;
    height: 0;
    overflow: hidden;
    padding-top: 5px;
    
}
#question::after{
    content: '+';
    position: absolute;
    right: -5px;

}
.content-container.active #answer{
height: 110px;
}
.content-container.active #question{
    font-size: 18px;
    
    transition: .5s;

}
.content-container.active #question::after{
    content: '-';
    font-size: 30px;
    transition: .5s;

}